<div>
    <div class="digitize">
        <label data-dojo-attach-point="_testNode">${i18n.digitize}</label>
        <button data-dojo-type="dijit.form.ToggleButton" type="button" data-dojo-attach-point="_polylineNode"
                data-dojo-attach-event="onClick:_onPolyline">
            ${i18n.polyline}
        </button>
        <button data-dojo-type="dijit.form.ToggleButton" type="button"
            data-dojo-attach-point="_freehandPolylineNode" data-dojo-attach-event="onClick:_onFreehandPolyline">
            ${i18n.freehandpolyline}
        </button>
    </div>
    <div class="selectunit">
        <label>${i18n.selectunit}</label>
        <select data-dojo-type="dijit/form/Select" data-dojo-attach-point="_comboboxNode">
            <option value="esriMiles">${i18n.miles}</option>
            <option value="esriKilometers">${i18n.kilometers}</option>
            <option value="esriMeters">${i18n.meters}</option>
            <option value="esriNauticalMiles">${i18n.nauticalmiles}</option>
            <option value="esriYards">${i18n.yards}</option>
            <option value="esriFeet">${i18n.feet}</option>
        </select>
    </div>
    <div class = "profileChart" data-dojo-attach-point="_profileChartNode"></div>
</div>